<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">SUPERHERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img [src]="imageSource" />
    <ion-card-header>
      <ion-card-subtitle outline color="danger">Bio</ion-card-subtitle>
      <ion-card-title>{{data.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="data && data.description && data.description != ''; else noDescriptionFound">
      {{data.description}}
    </ion-card-content>
    <ng-template #noDescriptionFound>
      <ion-card-content>
        No description found.
      </ion-card-content>
    </ng-template>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button color="danger" shape="round" expand="block" (click)="viewComics()">View Comics</ion-button>
</ion-footer>