<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger" *ngIf = "data!==undefined && data.hasOwnProperty('description')">COMIC DETAILS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img [src]="imageSource" />
    <ion-card-header>
      <ion-card-subtitle outline color="danger">Comic
        <ion-chip color="danger">
          <ion-icon name="pricetag"></ion-icon>
          <ion-label *ngIf = "data!==undefined && data.hasOwnProperty('prices')">{{data.prices[0].price}} $</ion-label>
        </ion-chip>
      </ion-card-subtitle>
      <ion-card-title *ngIf = "data!==undefined && data.hasOwnProperty('description')">{{data.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf = "data!==undefined && data.hasOwnProperty('description')">
      {{data.description}}
    </ion-card-content>

    <ion-list>
      <ion-list-header>
        <ion-label outline color="danger">Creaters</ion-label>
      </ion-list-header>
      <ng-container *ngFor="let creator of data.creators.items">
        <ion-item>{{creator.name}}</ion-item>
      </ng-container>

      <ion-list-header>
        <ion-label outline color="danger">Featuring</ion-label>
      </ion-list-header>
      <ng-container *ngFor="let character of data.characters.items">
        <ion-item>{{character.name}}</ion-item>
      </ng-container>
      
    </ion-list>

   

    

  </ion-card>

</ion-content>

<ion-footer>
</ion-footer>
