<ion-header>
  <ion-toolbar>
    <ion-title>characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Enter Marvel Character Name" (ionInput)="searchCharacter($event)"></ion-searchbar>
  <ion-list>
    <app-character [query]="query" [character]="character" *ngFor="let character of displayCharacters"></app-character>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-icon button size="large" slot="start" name="arrow-round-back" (click)="previousPage()"></ion-icon>
      <!-- <ion-title>Footer</ion-title> -->
      <ion-icon button size="large" slot="end" name="arrow-round-forward" (click)="nextPage()"></ion-icon>
  </ion-toolbar>
</ion-footer>